<h1>Results</h1>

<% unless @flights.empty? %>
  <% @flights.each do |flight| %>
      <p><strong><%= link_to flight.flight_number, "/flights/#{flight.id} "%></strong></p>
       <p><%=flight.origin%></p>
       <p><%=flight.destination%></p>
       <p><%=flight.date%></p>
   <% end %>
<% else  %>
   <h3>No results found please try again</h3>
<% end %>